@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

/* ======================= Navbar ======================= */
main {
  margin-bottom: 900px;
}

nav {
  display: flex;
  background-color: #fdfdfd;
  justify-content: space-around;
  height: 80px;
  width: 100%;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

nav .logo {
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;

}

.logo a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fdfdfd;
  cursor: pointer;
}

.logo a img {
  width: 3.8vw;
  margin-right: 1vw;
}

.logo a h4 {
  color: #27251f;
}

nav ul {
  display: flex;
  list-style: none;
  width: 30%;
  justify-content: space-around;
}

nav ul li a {
  color: #27251f;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 600;
  transition: 1s;
}

nav ul li a:hover {
  color: #ffcc00;
  transition: 0.3s;
}

.nav-btn a {
  text-decoration: none;
  color: #27251f;
  background-color: #ffcc00;
  padding: 0.7vw 2.5vw;
  border-radius: 5vw;
  font-weight: 600;
  border: 1px solid #ffcc00;
  transition: all 0.3s ease-in-out;
}

.nav-btn a:hover {
  background-color: #fdfdfd;
  color: #ffcc00;

  border: 1px solid #ffcc00;
}

nav ul li .btn-nav {
  display: none;
}

/* Hamburger Menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  /* position: relative; */
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -6px;
  top: -3px;
  opacity: 0;
  cursor: pointer;
  /* z-index: 2; */
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: #27251f;
  border-radius: 3px;
  transition: all 0.5s;
}

/* hamburger Menu animation */
.menu-toggle span:nth-child(2) {
  /* background-color: red; */
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  /* background-color: red; */
  transform-origin: 0 100%;
}

.menu-toggle input:checked~span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked~span:nth-child(3) {
  transform: scale(0);
  opacity: 0;
}

.menu-toggle input:checked~span:nth-child(4) {
  transform: rotate(-45deg) translate(2px, -2px);
}

/* ======== Section Hero ========= */
#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

#hero .typography__hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  position: relative;
}

.typography__hero h1 {
  font-size: 3.5vw;
  text-align: center;
}

.typography__hero .btn-hero {
  margin-top: 5vw;
  background-color: #ffcc00;
  padding: 1vw 2vw;
  border-radius: 2vw;
  text-decoration: none;
  color: #27251f;
  font-weight: 600;
  border: 1px solid #ffcc00;
  transition: all 0.3s ease-in-out;
}

.typography__hero .btn-hero:hover {
  background-color: #fdfdfd;
  color: #ffcc00;
  border: 1px solid #ffcc00;
}

#hero .circle-red1 {
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  background-color: #da291c;
  filter: blur(8px);
  position: absolute;
  left: 10vw;
  bottom: 18vh;
}

#hero .circle-yellow1 {
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  background-color: #ffcc00;
  filter: blur(8px);
  position: absolute;
  left: 16vw;
  top: 17vh;
}

#hero .circle-red2 {
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  background-color: #da291c;
  filter: blur(20px);
  position: absolute;
  right: 18vw;
  top: 13vh;
}

#hero .circle-yellow2 {
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  background-color: #ffcc00;
  filter: blur(8px);
  position: absolute;
  right: 16vw;
  bottom: 25vh;
}

/* Ukuran Tablet */
@media screen and (max-width: 992px) {
  .menu-toggle {
    display: flex;
    margin-left: auto;
    z-index: 2;
    position: relative;
  }

  nav {
    padding: 2vw 7vw;
    height: auto;
    display: flex;
    justify-content: flex-start;
  }

  nav ul {
    position: absolute;
    width: 80%;
    right: 0;
    top: 0;
    height: 100vh;
    justify-content: center;
    gap: 5em;
    align-items: center;
    flex-direction: column;
    background-color: #eeeeee;
    z-index: -1;
    right: -400px;
    /* transform: translateX(100%); */
    transition: all 1s;
    opacity: 0;
  }

  nav ul li a {
    font-size: 1rem;
  }

  nav ul.slide {
    right: 0;
    /* transform: translateX(0); */
    opacity: 1;
    z-index: 2;
  }

  .menu-toggle input {
    left: -11px;
  }

  nav ul li .btn-nav {
    display: block;
    text-decoration: none;
    color: #27251f;
    background-color: #ffcc00;
    padding: 2vw 10vw;
    border-radius: 5vw;
    font-weight: 600;
    border: 1px solid #ffcc00;
  }

  nav ul li .btn-nav:hover {
    background-color: #fdfdfd;
    color: #ffcc00;
    transition: all 0.3s ease-in-out;
    border: 1px solid #ffcc00;
  }

  nav .nav-btn {
    display: none;
  }

  .logo a img {
    width: 7vw;
    margin-right: 2vw;
  }

  /* ========= Section Hero =========  */
  .typography__hero h1 {
    font-size: 5vw;
    line-height: 1.4;
  }

  .typography__hero .btn-hero {
    padding: 2vw 4vw;
    border-radius: 5vw;
  }
}


@media screen and (max-width: 768px) {}

/* ukuran Mobile */
@media screen and (max-width: 576px) {
  nav {
    padding: 3vw 7vw;
  }

  .logo a img {
    width: 9vw;
  }

  .logo a h4 {
    display: none;
  }

  .menu-toggle input {
    left: -3vw;
    top: -1vw;
  }

  .menu-toggle span {
    width: 6vw;
    height: .8vw;
  }

  nav ul li a {
    font-size: 4vw;
  }

  nav ul {
    width: 80%;
    gap: 8vw;
  }
}